.button {
    padding: 0;
    width: 100%;
    cursor: pointer;
    border: none;
    transition: opacity 0.4s ease-in-out;
    opacity: 1;
}

.button:hover {
    opacity: 0.7;
}

.button_place_search {
    width: 100px;
    height: 52px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #4285F4;
    color: #FFF;
    border-radius: 5px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
}